In [1]:
import pandas as pd
df = pd.read_csv('car data.csv')

In [2]:
# Shape of the DataFrame
df.shape

(15, 2)

In [3]:
row, col = df.shape

In [4]:
row

15

In [5]:
col

2

In [6]:
# Top nth rows
df.head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72

In [7]:
df.head(2)

   speed  risk
0    200    95
1     90    20

In [8]:
# Last nth rows
df.tail()

    speed  risk
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [9]:
df.tail(4)

    speed  risk
11    185    59
12    310    93
13     95    18
14     30     2

In [10]:
# Range of entries
df[5:10]

   speed  risk
5    115    10
6     50     7
7    230    85
8    190    45
9    260    91

In [11]:
# Accessing the columns
df.speed

0     200
1      90
2     300
3     110
4     240
5     115
6      50
7     230
8     190
9     260
10    290
11    185
12    310
13     95
14     30
Name: speed, dtype: int64

In [12]:
df['speed']

0     200
1      90
2     300
3     110
4     240
5     115
6      50
7     230
8     190
9     260
10    290
11    185
12    310
13     95
14     30
Name: speed, dtype: int64

In [13]:
df.columns

Index(['speed', 'risk'], dtype='object')

In [14]:
# Accessing nth columns
df[['speed']].head()

   speed
0    200
1     90
2    300
3    110
4    240

In [15]:
df[['speed','risk']].head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72

In [16]:
# Type of column
type(df['speed'])

pandas.core.series.Series

In [17]:
# Type of column
type(df[['speed']])

pandas.core.frame.DataFrame

# Basic Statistical Functions

In [18]:
import pandas as pd
url = 'https://raw.githubusercontent.com/rashakil-ds/Public-Datasets/main/Screen%20Time%20Data.csv'
df = pd.read_csv(url)
df.head()

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
0,0,04/17/19,Wednesday,187,89,17,41,22,0,0,0,0
1,1,04/18/19,Thursday,123,78,17,8,9,0,0,0,0
2,2,04/19/19,Friday,112,52,40,8,4,0,3,0,0
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0

In [19]:
df.shape

(28, 12)

In [20]:
df.index

RangeIndex(start=0, stop=28, step=1)

In [21]:
len(df)

28

In [22]:
df.columns

Index(['index', 'Date', 'Week Day', 'Total Screen Time ', 'Social Networking',
       'Reading and Reference', 'Other', 'Productivity', 'Health and Fitness',
       'Entertainment', 'Creativity', 'Yoga'],
      dtype='object')

In [23]:
#max
df['Total Screen Time '].max()

198

In [24]:
#min
df['Total Screen Time '].min()

52

In [25]:
df['Total Screen Time '].mean()

113.25

In [26]:
df['Total Screen Time '].std()

43.562322320164775

In [27]:
df['Entertainment'].mode()

0    0
Name: Entertainment, dtype: int64

In [28]:
df['Entertainment'].value_counts()

0     20
1      4
3      2
32     1
9      1
Name: Entertainment, dtype: int64

In [29]:
 #25%
df['Total Screen Time '].quantile(0.25)

83.5

In [30]:
 #50%
df['Total Screen Time '].quantile(0.50)

111.0

In [31]:
 #75%
df['Total Screen Time '].quantile(0.75)

137.25

In [32]:
 #100%
df['Total Screen Time '].quantile(1)

198.0

In [33]:
 #0%
df['Total Screen Time '].quantile(0)

52.0

In [34]:
df.describe()

,index,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000
mean,13.500000,113.250000,60.714286,8.714286,14.821429,9.071429,1.285714,1.821429,0.214286,0.571429
std,8.225975,43.562322,22.853571,9.340700,13.754605,6.097532,3.952094,6.188721,0.568112,0.503953
min,0.000000,52.000000,25.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,6.750000,83.500000,41.750000,2.000000,4.750000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,13.500000,111.000000,58.000000,5.000000,9.000000,8.000000,0.000000,0.000000,0.000000,1.000000
75%,20.250000,137.250000,76.500000,13.500000,21.500000,15.000000,0.000000,1.000000,0.000000,1.000000
max,27.000000,198.000000,109.000000,40.000000,43.000000,22.000000,15.000000,32.000000,2.000000,1.000000